body {
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  color: #0D1B1E;
}

#root {
  height: 100vh;
  width: 80vw;
  margin: 0 auto;
  text-align: center;
}

.landing {
  height: 100vh;
}

#navbar {
  top: 0;
  position: sticky;
  ul {
    padding: 0;
    list-style: none;
    li {
      display: inline-block;
      padding: 5px 10px;
      a {
        text-decoration: none;
        color: #0D1B1E;
        transition: .2s ease-in;
        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
}

#header {
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h1 {
    text-transform: uppercase;
  }
}

#projects {
  min-height: 90vh;
  .main-card {
    margin: 3em 0;
  }
}
